parameters:
    level: 8

    paths:
        - src
        - tests

    excludePaths:
        - tests/*/Sample*

#    tmpDir: logs/phpstan/cache

#    polluteScopeWithLoopInitialAssignments: false
#    polluteScopeWithAlwaysIterableForeach: false
#    polluteCatchScopeWithTryAssignments: true
#    checkAlwaysTrueCheckTypeFunctionCall: true
#    checkAlwaysTrueInstanceof: true
#    checkAlwaysTrueStrictComparison: true
#    checkExplicitMixedMissingReturn: true
#    checkFunctionNameCase: true
#    checkInternalClassCaseSensitivity: true
#    checkMissingClosureNativeReturnTypehintRule: true
#    reportMaybesInMethodSignatures: true
#    reportStaticMethodSignatures: true
#    checkTooWideReturnTypesInProtectedAndPublicMethods: true
#    checkUninitializedProperties: true

#    checkMissingIterableValueType: true
#    checkGenericClassInNonGenericObjectType: true
#    checkMissingCallableSignature: true

#    inferPrivatePropertyTypeFromConstructor: true
#    treatPhpDocTypesAsCertain: false
#    tipsOfTheDay: true