<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">

    <testsuites>
        <testsuite name="All">
            <directory>./tests</directory>
        </testsuite>
        <testsuite name="Modules">
            <directory>./tests/Modules</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">.src</directory>
        </include>
        <!-- <report>
            <clover outputFile="logs/phpunit/clover.xml" />
            <html outputDirectory="logs/phpunit/html" lowUpperBound="50" highLowerBound="90" />
            <php outputFile="logs/phpunit/coverage.php" />
            <text outputFile="logs/phpunit/coverage.txt" showUncoveredFiles="false" showOnlySummary="true" />
            <xml outputDirectory="logs/phpunit/xml" />
        </report> -->
    </coverage>

    <!-- <logging>
        <junit outputFile="logs/phpunit/log.junit.xml" />
        <testdoxXml outputFile="logs/phpunit/log.testdox.xml" />
        <text outputFile="logs/phpunit/log.txt" />
    </logging> -->
</phpunit>
